<!DOCTYPE html>  
<html lang="en">  
<% include header %>
<% include footer %>
  <script type="text/javascript">

      //  // Function for converting a mm/dd/yyyy date value into a numeric string for comparison (example 08/12/2010 becomes 20100812
      function parseDateValue(rawDate) {
        var dateArray= rawDate.split("/");
        var parsedDate= dateArray[2] + dateArray[0] + dateArray[1];
        return parsedDate;
      }

      $(document).ready(function() {

          var table = $('#datatable_wallet').DataTable();
          var info = table.page.info();
          //alert(info.recordsTotal);

          // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').keyup( function() {
                //alert('try');
                 

                //if($('#min').val()== "" && $('#max').val()== "")
                // {
                //     alert('Hello');
                //     table.draw();
                    //window.location.href = '/'

                    //$('#datatable_wallet').DataTable();


                    //table.draw();

                    // $.fn.dataTable.ext.search.push(
                    //     function( settings, data, dataIndex ) {
                    //       alert('Date');
                    //         var dateStart = 0;
                    //         var dateEnd = parseInt(info.recordsTotal);
                    //         // aData represents the table structure as an array of columns, so the script access the date value 
                    //         // in the first column of the table via aData[0]
                    //         var evalDate= parseInt(data[0]);
                    //         alert(dateEnd);
                            
                    //         if (evalDate >= dateStart && evalDate <= dateEnd) {
                    //             return true;
                    //         }
                    //         else {
                    //             return false;
                    //         }
                    //     }
                    // );
                //}

               // else
               // {
                    table.draw();

                    $.fn.dataTable.ext.search.push(
                        function( settings, data, dataIndex ) {

                          var dateStart;
                          var dateEnd;
                          //alert('Date');
                          if($("#min").val()=="" || $("#min").val() == undefined)
                          {
                              dateStart = 1;
                          }

                          else
                          {
                              dateStart = parseInt($("#min").val());
                          }

                          if($("#max").val()=="" || $("#max").val() == undefined)
                          {
                              dateEnd = info.recordsTotal;
                          }

                          else
                          {
                              dateEnd = parseInt($("#max").val());
                          }


                           // var dateEnd = parseInt($("#max").val());
                            // aData represents the table structure as an array of columns, so the script access the date value 
                            // in the first column of the table via aData[0]
                            var evalDate= parseInt(data[0]);
                            
                            if (evalDate >= dateStart && evalDate <= dateEnd) {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    );
                //}

            });
      } );
  </script>

  <body>  
    <div class="container">  
      <div class="col-md-12">
      <table border="0" cellpadding="5" cellspacing="5">
        <tbody><tr>
            <td>Minimum age:</td>
            <td><input id="min" name="min" type="text"></td>
        </tr>
        <tr>
            <td>Maximum age:</td>
            <td><input id="max" name="max" type="text"></td>
        </tr>
    </tbody>
    </table>
    <!--<%= data %>
    <%= length %>-->

        <%if (length > 0) { %>
          
           <table class="table table-hover" id="datatable_wallet">
             <thead>
                <th>No.</th>
                <th>Name</th>
                <th>HostName</th>
                <th>PID</th>
                <th>Level</th>
                <th>Error</th>
                <th>Message</th>
             </thead>

              <% for(var i=0,p=1; i < length; i++) { %>
                 <tr>
                   <td><%= p %></td>
                   <td><%= JSON.parse(data[i]).name %></td>
                   <td><%= JSON.parse(data[i]).hostname %></td>
                   <td><%= JSON.parse(data[i]).pid %></td>
                   <td><%= JSON.parse(data[i]).level %></td>
                   <td><%= JSON.parse(data[i]).error %></td>
                   <td><%= JSON.parse(data[i]).msg %></td>
                 </tr>
              <% p++;} %>

          </table> 

        <% } %>
        </div>  
    </div>  
  </body>
</html>