<!DOCTYPE html>  
<html lang="en">  
<% include header %>

  <body>
    <div class="container">  
      <div class="col-md-12">
    <!--<%= data %>
    <%= length %>-->

        <%if (length > 0) { %>
          
           <table class="table table-hover">
             <thead>
                <th>No.</th>
                <th>Name</th>
                <th>HostName</th>
                <th>PID</th>
                <th>Level</th>
                <th>Error</th>
                <th>Message</th>
             </thead>

              <% for(var i=0,p=1; i < length; i++) { %>
                 <tr>
                   <td><%= p %></td>
                   <td><%= JSON.parse(data[i]).name %></td>
                   <td><%= JSON.parse(data[i]).hostname %></td>
                   <td><%= JSON.parse(data[i]).pid %></td>
                   <td><%= JSON.parse(data[i]).level %></td>
                   <td><%= JSON.parse(data[i]).error %></td>
                   <td><%= JSON.parse(data[i]).msg %></td>
                 </tr>
              <% p++;} %>

          </table> 

        <% } %>
        </div>  
    </div>  
  </body>

<% include footer %>
</html>