<!DOCTYPE html>  
<html lang="en">  
<% include header %>
<% include footer %>
  <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable_wallet').DataTable();

              // Add event listeners to the two range filtering inputs
              // $('#min').keyup( function() {alert('draw'); table.draw(); } );
              // $('#max').keyup( function() { table.draw(); } );
        } );
    </script>

  <body>  
    <div class="container">  
      <div class="col-md-12">
    <!--<%= data %>
    <%= length %>-->

        <%if (length > 0) { %>
          
           <table class="table table-hover" id="datatable_wallet">
             <thead>
                <th>No.</th>
                <th>Name</th>
                <th>HostName</th>
                <th>PID</th>
                <th>Level</th>
                <th>Error</th>
                <th>Message</th>
                <th>Time</th>
             </thead>

              <% for(var i=length-1,p=1; i >=0; i--) { %>
                 <tr>
                   <td><%= p %></td>
                   <td><%= JSON.parse(data[i]).name %></td>
                   <td><%= JSON.parse(data[i]).hostname %></td>
                   <td><%= JSON.parse(data[i]).pid %></td>
                   <td><%= JSON.parse(data[i]).level %></td>
                   <td><%= JSON.parse(data[i]).error %></td>
                   <td><%= JSON.parse(data[i]).msg %></td>
                   <td><%= JSON.parse(data[i]).time %></td>
                 </tr>
              <% p++;} %>

          </table> 

        <% } %>
        </div>  
    </div>  
  </body>
</html>